.container {
  background-color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.text {
}
.btn_container {
  display: flex;
  justify-content: flex-end;
}
.btn {
  width: 100px;
  background-color: var(--buttonColor);
  color: white;
  padding: 6px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
