.top_section {
  height: 600px;
}
@media (min-width: 600px) {
  .top_section {
    height: 100vh;
  }
}
.about_us_section {
}
@media (min-width: 600px) {
  .about_us_section {
    height: 800px;
  }
}
.video_section {
  height: 1000px;
}
@media (min-width: 600px) {
  .video_section {
    height: 100vh;
  }
}
.contact_section {
  height: 300px;
}
@media (min-width: 600px) {
  .contact_section {
    height: 800px;
  }
}
